* {
  box-sizing: border-box;
  text-align: center;
}

main{
  width: 1000px;
  margin: 50px auto;
  background-color: lightgray;
  border: 1px solid black;
}

.item {
  width: 300px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
}
#promotional{
  height: 20px;
  width: 30px;
  background-color: orange;
  position: absolute;
  top: 0;
  right: 0;
}
.heart {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 35px;
  color: red;
}
